.thumbnail:hover {
    border-style: solid;
    border-width: 3px;
    border-color:#E67F18;
  }

#bunny{
	display: none;
	width: 10%;
	height: 10%;
	position: absolute;
	bottom: 0px;
	
}

body {
background-color: rgb(0, 158, 158);
}

.col-md-10 {
	background-color: rgb(200, 200, 200);
	border-radius: 25px;
}

/*h1 {background-color: grey;}*/
#crystalCollector, #crystalCollector * 
{
	cursor: url('images/cursor2.cur'), auto !important;
}

#trainTimer, #trainTimer * 
{
	cursor: url('images/pocket.watch.cur'), auto !important;
}

#bombDefuser, #bombDefuser * 
{
	cursor: url('images/Bomb.cur'), auto !important;
}

#weatherMonitor, #weatherMonitor * 
{
	cursor: url('images/weather.ico'), auto !important;
}



#reactGallery, #reactGallery * 
{
cursor: url('images/cam-cursor.png'), auto !important;
}

#chatroom, #chatroom *
{
cursor: url('images/chat.ico'), auto !important;
}

#whiteboard, #whiteboard *
{
cursor: url('images/eraser.png'), auto !important;
}

#madLibs, #madLibs * 
{
	cursor: url('images/pencil.cur'), auto !important;
}

#roulette, #roulette * 
{
	cursor: url('images/dollar.ico'), auto !important;
}

#aniGallery, #aniGallery *
{
	cursor: url('images/vidcam.ico'), auto !important;
}
img{
	/*width: 300px;*/
	height: 300px;
	margin: 20px;
	border-radius: 25px;
	
}

p { margin-top: 20px; }

#me {
	float: left;
}


.navbar 
{
background-color: rgb(200, 200, 200);
border-color: grey;
border-radius: 10px;
}



.caption
{
	position: relative;
	background-color: rgb(0, 158, 158);
	
	border-radius: 25px;
}

.thumbnail {

background-color: rgb(200, 200, 200);
border-color: grey;
border-radius: 25px;
}
