body {
background-color: rgb(0, 158, 158);
}

.col-md-10 {
	background-color: rgb(200, 200, 200);
	border-radius: 25px;
}

/*h1 {background-color: grey;}*/


img{
	/*width: 300px;*/
	height: 300px;
	margin: 20px;
	border-radius: 25px;
	
}

p { margin-top: 20px; }

#me {
	float: left;
}


.navbar 
{
background-color: rgb(200, 200, 200);
border-color: grey;
border-radius: 10px;
}



.caption
{
	position: relative;
	background-color: rgb(0, 158, 158);
	
	border-radius: 25px;
}

.thumbnail {

background-color: rgb(200, 200, 200);
border-color: grey;
border-radius: 25px;
}