/* .content {
    display: none;
  } 

  This is removed until I can figure out why it works for index and contact but now
  downloads and portfolio*/

  /* now why on Earth can't I seem to change the color of the navbar links?  They're always red */

  .col-md-8, .col-xs-8
{
	background-color: green;
	color: white;
}



h2, h3
{
	color: white;
}

input, textarea
{
color: red;
}

.thumbnail:hover {
    border-style: solid;
    border-width: 3px;
    border-color:#E67F18;
  }

#bunny{
	display: none;
	width: 10%;
	height: 10%;
	position: absolute;
	bottom: 0px;
	
}

body {
background-color: hsl(0, 65%, 50%);
}

a
{
	color: gold !important;
}

a:hover
{
	color: hsl(0, 65%, 50%) !important;
}

a:visited
{
	color: hsl(0, 65%, 50%) !important;
}

.col-md-10 {
	background-color: green;
	color: white;
}






.navbar 
{
background-color: green;
}




.caption
{
	color: white;
	background-color:hsl(0, 65%, 50%);
}

.thumbnail p
{
	color:gold;

}

.thumbnail {

background-color: green;
}
