/* .content {
    display: none;
  }
 */
.col-md-8
{
	background-color:pink;
}

.col-xs-8
{
	background-color: pink;
}


/* BUNNY STUFF */
/*the bunny should look like its jumping from the bottom of the page, or at least
it would if not for that annoying scrollbar */
@keyframes bunnyHop
{

  0% {top: 20px;}
  50% {top: -100px;}
  100% {top: 20px;}
}

#bunny{
	display: inline;
	height: 100px;
    position: relative;
	animation-name: bunnyHop;
	animation-duration: 4s;
	animation-iteration-count: infinite;	
}

#bunnyRow{
height:100px;
}

 .thumbnail:hover {
    border-color:rgb(255, 255, 102);
  }



 @media only screen and (max-width: 800px) {

#bunny
{
	display:none;
}

#bunnyRow
{
	height: 0px;
 }
}
/******/



body {
background-color: rgb(102, 255, 255);
background-image: url("images/crackedEgg.png"), url(images/crackedEgg.png);
background-position: bottom right, bottom left;
background-repeat: no-repeat;
background-size: 50px 50px;	
}



.col-md-10 {
	background-color: pink;
}

/*h1 {background-color: grey;}*/


.navbar 
{
background-color: rgb(255, 255, 102);
border-color: pink;
}

.active{
	background-color: pink;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: pink;
}
/*
.navbar-default .navbar-nav > .active{
    color: #000;
    background: #d65c14;
}*/

.caption
{
	background-color: rgb(102, 255, 255);
}

.thumbnail {

background-color: pink;
border-color: pink;
}
