/* .content {
    display: none;
  } 

  This is removed until I can figure out why it works for index and contact but now
  downloads and portfolio*/

.col-xs-8
{
	background-color: rgb(200, 200, 200);
	border-radius: 25px;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px;
}

input, textarea
{
border-radius: 10px;
border-width: 0px;
margin-bottom: 5px;
}

.thumbnail:hover {
    border-style: solid;
    border-width: 3px;
    border-color:#E67F18;
  }

#bunny{
	display: none;
	width: 10%;
	height: 10%;
	position: absolute;
	bottom: 0px;
	
}

body {
background-color: rgb(0, 158, 158);
}

/*quick fix for "color bug".  Got to inspect the implications of the xs/md thing later*/
.col-md-10{
background-color: rgb(200, 200, 200);
	border-radius: 25px;
	box-shadow: 5px 5px 5px;
}

.col-xs-10 {
	background-color: rgb(200, 200, 200);
	border-radius: 25px;
	box-shadow: 5px 5px 5px;
}

@media only screen and (max-width: 900px) {
  .col-xs-10 {
    margin: 50px;
    padding: 50px;
  }
}

/*h1 {background-color: grey;}*/
#crystalCollector, #crystalCollector * 
{
	cursor: url('../images/cursor2.cur'), auto !important;
}

#trainTimer, #trainTimer * 
{
	cursor: url('../images/pocket.watch.cur'), auto !important;
}

#bombDefuser, #bombDefuser * 
{
	cursor: url('../images/Bomb.cur'), auto !important;
}

#weatherMonitor, #weatherMonitor * 
{
	cursor: url('../images/weather.ico'), auto !important;
}



#reactGallery, #reactGallery * 
{
cursor: url(../images/cam-cursor.png'), auto !important;
}

#chatroom, #chatroom *
{
cursor: url('../images/chat.ico'), auto !important;
}

#whiteboard, #whiteboard *
{
cursor: url('../images/eraser.png'), auto !important;
}

#madLibs, #madLibs * 
{
	cursor: url('../images/pencil.cur'), auto !important;
}

#roulette, #roulette * 
{
	cursor: url('../images/dollar.ico'), auto !important;
}

#aniGallery, #aniGallery *
{
	cursor: url('../images/vidcam.ico'), auto !important;
}

#menus, #menus *
{
	cursor: url('../images/utensils.cur'), auto !important;
}

#mole, #mole *
{
	cursor: url('../images/hammer.cur'), auto !important;
}

#alchemy, #alchemy *{
	cursor:url("../images/alchemy.cur"), auto !important;
}

img{
	/*width: 300px;*/
	height: 300px;
	margin: 20px;
	border-radius: 25px;
	
}

p { margin-top: 20px; }

#me {
	float: left;
}


.navbar 
{
background-color: rgb(200, 200, 200);
border-color: grey;
border-radius: 10px;
box-shadow: 5px 5px 5px;
}

@media only screen and (max-width: 900px) {
  .navbar {
    margin: 40px;
    padding: 10px;
  }
}

@media only screen and (max-width: 780px)
{
	.col-sm-4
	{
		margin: 10px;
	}

	.caption
	{
		margin: 20px 70px;
	}

	.caption p
	{
		text-align: center;
		font-size: 150%;
	}
}

.caption
{
	position: relative;
	background-color: rgb(0, 158, 158);
	
	border-radius: 25px;
}

.thumbnail {

background-color: rgb(200, 200, 200);
border-color: grey;
border-radius: 25px;
box-shadow: 5px 5px 5px;
}

h2
{

}