

body {
background-color: grayscale(rgb(0, 158, 158));
text-align: justify;
letter-spacing: 3px;
}

.caption{
background-color: grayscale(rgb(0, 158, 158));
}

a
{
	color:hsl(0, 0%, 95%);
}

a:hover
{
	color: black
}

a:visited
{
	color:black;
	text-decoration: underline;
}

img
{
	filter: grayscale(1);
}

#wip
{
	color: grayscale(red);
}

.thumbnail:hover {

    border-color:grayscale(#E67F18);
  }